<div class="container" style="margin-top: 150px; margin-bottom: 150px;">


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Preparate!!</h2>
            <p class="lead">Muy pronto llegará mary kay a nuestra tienda con numerosos producto emocionantes</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                height="400" role="img" aria-label="Placeholder: 500x500" focusable="false"
                src="./assets/img/marykay.png" alt="">
        </div>
    </div>
</div>