<div class="container m-5 d-flex justify-content-start">
    <div class="row">
        <div class="col-md-6">
            <app-product-card-count></app-product-card-count>
        </div>
        <div class="col-md-6">
            <app-user-card-count></app-user-card-count>
        </div>
    </div>

</div>
<div class="container m-5">
    <div class="row">
        <div class="col-md-6">
            <app-product-barchart-category></app-product-barchart-category>
        </div>
        <div class="col-md-6">
            <app-user-barchart-rol></app-user-barchart-rol>
        </div>
    </div>

</div>
