/* navbar.component.scss */
.navbar {
  background-color: #000;
  animation: slideDown 0.6s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar a, .navbar .form-control, .navbar button {
  color: #fff;
  background: transparent;
  border: none;
}

.navbar select {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 0;
  padding: 7px;
  appearance: none;
}

.navbar select:focus {
  outline: none;
  box-shadow: none;
}

.navbar option {
  color: #000;
  background-color: #000000;
}

.border{
    border:color#808b96
    padding 3px;
}

.navbar {
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #000000 !important;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  background-color: #000000 !important;
  color: black;
}

.dropdown-item:active {
  background-color: #000000 !important;
  color: #333;
}

.badge {
  font-size: 0.6rem;
  vertical-align: top;
}