
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Unicosmet</a>


  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>

  <ul class="navbar-nav flex-row d-md-none ms-auto">
  <li class="nav-item text-nowrap">
    <button class="nav-link px-3 text-white btn btn-link" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
      ☰
    </button>
  </li>
</ul>
</header>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
        aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
        <svg class="bi">
          <use xlink:href="#search" />
        </svg>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="bi">
          <use xlink:href="#list" />
        </svg>
      </button>
    </li>
  </ul>
  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark"></header>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Unicosmet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="list-unstyled ps-0">

            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Operaciones
              </button>
              <div class="collapse" id="orders-collapse">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed ps-5"
                  data-bs-toggle="collapse" data-bs-target="#orders-collapse2" aria-expanded="false">
                  Usuarios
                </button>
                <div class="collapse" id="orders-collapse2">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5 small">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded "
                        href="javascript:void(0);" (click)="showUserCreate()">Crear</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        href="javascript:void(0);" (click)="showUserList()">Gestionar</a></li>
                  </ul>
                </div>

                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed ps-5"
                  data-bs-toggle="collapse" data-bs-target="#orders-collapse3" aria-expanded="false">
                  Products
                </button>
                <div class="collapse" id="orders-collapse3">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5 small">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded "
                        href="javascript:void(0);" (click)="showProductCreate()">Crear</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        href="javascript:void(0);" (click)="showProductList()">Gestionar</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#ordersDash-collapse" aria-expanded="false">
                Dashboard
              </button>
              <div class="collapse" id="ordersDash-collapse">

                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-5 small">
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded "
                      href="javascript:void(0);" (click)="showGeneralDashboard()">General</a></li>
                </ul>

              </div>
            </li>
          </ul>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <app-user-create *ngIf="userCreate"></app-user-create>
      <app-user-list *ngIf="userList"></app-user-list>
      <app-product-list *ngIf="productList"></app-product-list>
      <app-product-create *ngIf="productCreate"></app-product-create>
      <app-dashboard-general *ngIf="generalDashBoard"></app-dashboard-general>
    </main>
  </div>
</div>