<!-- Three columns of text below the carousel -->
<div class="container" style="margin-top: 150px; margin-bottom: 250px;">

    <div class="row">
        <div class="col-lg-4 d-flex">
            <div class=" d-flex flex-column h-100 text-center p-3 rounded text-dark">

                <img src="./assets/img/channel-brand.png" alt="" class="bd-placeholder-img rounded-circle mx-auto"
                    width="140" height="140">

                <h2 class="fw-normal color texto-color">Channel</h2>
                <p class="texto-color">Chanel es una casa de moda de lujo francesa, fundada por la diseñadora Coco Chanel en 1910.</p>
                <div class="mt-auto">
                    <a class="btn btn-secondary" href="#">Mira sus productos &raquo;</a>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <div class=" d-flex flex-column h-100 text-center p-3  rounded text-dark">

                <img src="./assets/img/urbanDecay-brand.png" alt="" class="bd-placeholder-img rounded-circle mx-auto"
                    width="140" height="140">
                <h2 class="fw-normal texto-color">Urban Decay</h2>
                <p class="texto-color">Urban Decay es uno de los nombres más conocidos de la industria de la belleza.</p>
                <div class="mt-auto">
                    <a class="btn btn-secondary" href="#">Mira sus productos &raquo;</a>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->



        <div class="col-lg-4">
            <div class=" d-flex flex-column h-100 text-center p-3 rounded text-dark">

                <img src="./assets/img/nars-brand.png" alt="" class="bd-placeholder-img rounded-circle mx-auto"
                    width="140" height="140">
                <h2 class="fw-normal texto-color">NARS</h2>
                <p class="texto-color">NARS Cosmetics redefine la belleza de lujo. El ascenso de la India como centro mundial</p>
                <div class="mt-auto">
                    <a class="btn btn-secondary" href="#">Mira sus productos &raquo;</a>
                </div>
            </div><!-- /.col-lg-4 -->
        </div>
    </div><!-- /.row -->

</div>