<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 80px;">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
      <div class="position-sticky pt-3">
        <div class="text-center mb-4">
          <h5>Mi Tienda</h5>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#" (click)="showEditInfo($event)">
              <i class="bi bi-grid me-2"></i> Editar mi informacion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="showListProductPurchases($event)">
              <i class="bi bi-box-seam me-2"></i> Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="showListPurchases($event)">
              <i class="bi bi-graph-up me-2"></i> Mis compras
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- <app-user-edit-info></app-user-edit-info> -->
      <app-user-edit-info *ngIf="editInfo"></app-user-edit-info>
      <app-user-purchases *ngIf="purchasesUser"></app-user-purchases>
      <app-list-product-purchase *ngIf="purchasesProduct"></app-list-product-purchase>
    </main>

    <!-- Main content -->
  </div>
</div>